body {
  text-align: center;
  background-color: rgb(232, 232, 232);
}

a {
  color: violet;
}
em {
  background-color: hsl(300, 76%, 72%, 50%);
}

.header {
  text-align: center;
  margin-top: 5rem;
  line-height: 1rem;
  font-family: "Source Han Sans SC", sans-serif;
  font-size: 1.2em;
  color: rgb(100, 26, 137);
}

div.lbst {
  outline: 5px inset purple;
  padding: 5px;
  display: inline-flex;
  margin: 15px auto;
}

div.lb,
div.st {
  padding: 10px;
  display: inline-block;
  text-align: left;
  margin: 5px;
}

div.lb {
  background-color: rgb(218, 218, 218);
}

div.st {
  background-color: rgb(78, 78, 78);
  color: white;
}

div h2 {
  text-align: center;
}

.img_lbst {
  width: 30vw;
  margin: 20px 0 5px;
  border: 3px dotted hsla(294, 71%, 42%, 0.5);
}

p.caption {
  font-size: 0.8em;
  color: darkorchid;
  font-weight: 800;
}
